<html>
<head>
    <title>PDB COS</title>
    <meta charset="UTF-8">
    <meta http-equiv='cache-control' content='no-cache'>
    <meta http-equiv='expires' content='0'>
    <meta http-equiv='pragma' content='no-cache'>
    <meta name="csrf-token" content="CL2tR2J4UHZXcR9BjRtSYOKzSmL8U1zTc7T8d6Jz">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="/css">
    <link rel="stylesheet" href="style">
    <link rel="stylesheet" href="font-icon">
    <link rel="stylesheet" href="metroCss">
    <link rel="stylesheet" href="drop-css">
    <script src="drop-js"></script>
    <script scripts="metroJs"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<style>
    body{
        height: auto;
        font: 13px Helvetica, Arial;
    }
    .container {
        width: 100%;
    }

    #rowBG {
        height: auto;
    }

    #leftPanel {
        margin-top: -3%;
        height: auto;
    }

    #rightPanel {
        margin-top: -3%;
        height: auto;
    }

    #middlePanel {
        margin-top: -3.4%;
        height: auto;
    }

    #picProfile {
        width: 140px;
        height: 140px;
    }

    #rowHeadder {
        margin-top: 3%;
        margin-bottom: 3%;
    }

    #tableFile {
        color: lightsteelblue;
        padding: 0;
        width: 100%
    }
    #tableOnline {
        color: lightsteelblue;
        width: 100%;
        height: auto;
    }
    #tableOffline{
        width: 100%;
        height: auto;
    }

    #userOnlineIMG {
        width: 25px;
        height: 25px;
    }

    .icon-online {
        position: relative;
        margin-top: -2%;
        margin-left: 10%;
    }

    * {
        margin: 0;
        padding: 0;
        /*box-sizing: border-box;*/
    }
    form {
        /*border: 1px solid #ccc;*/
        padding: 3px;
        position: relative;
        width: 100%;
    }

    form input {
        border: 0;
        padding: 10px;
        width: 90%;
        margin-right: .5%;
    }

    form button {
        width: 9%;
        background: rgb(130, 224, 255);
        border: none;
        padding: 10px;
    }

    a:hover {
        color: #3333FF;
    }

    #messages {
        height: 250px;
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow-y: hidden;
    }
    #messages:hover{
     overflow-y: overlay;
    }
    #messages > p:last-child {
        color: red;
    }
    #messages p {
        margin-right: 1%;
        padding: 1px 20px 2px 9px;
    }
     #messages-group {
        height: 200px;
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow-y: hidden;
    }
    #messages-group:hover{
     overflow-y: overlay;
    }
    #messages-group > p:last-child {
        color: red;
    }
    #messages-group p {
        margin-right: 1%;
        padding: 1px 20px 2px 9px;
    }
    .w3-modal-content {
        top: 1%;
    }
    .menubar-chat > ul{
        border: 1px solid #ccc;
    }
    .menubar-chat > li {
        list-style: none;
        float: left;
        padding: 7px 10px 20px 10px;
        overflow: none;
    }

    li:hover {
        cursor: pointer;
    }

    input[type=text]:focus {
        border: 1 pz solid #1a1a1a;
    }
    #testDemoP{
        color:black;
    }
    #frmMsg {
        border: none;
    }
    #frmMsg-group {
        border: none;
    }

    /* For desktop: */
    .col-1 {
        width: 8.33%;
    }

    .col-2 {
        width: 16.66%;
    }

    .col-3 {
        width: 25%;
    }

    .col-4 {
        width: 33.33%;
    }

    .col-5 {
        width: 41.66%;
    }

    .col-6 {
        width: 50%;
    }

    .col-7 {
        width: 58.33%;
    }

    .col-8 {
        width: 66.66%;
    }

    .col-9 {
        width: 75%;
    }

    .col-10 {
        width: 83.33%;
    }

    .col-11 {
        width: 91.66%;
    }

    .col-12 {
        width: auto%;
    }

    @media only screen and (max-width: 320px) {
        /* For mobile i phone 5  */
        .container {
            width: auto;
        }

        [class*="col-"] {
            width: auto;
        }
        #tableOnline{
            width: 100%;
        }
        #leftPanel{
            width: 100%;
        }
        #rightPanel{
            width: 100%;
        }
        #tableOnline{
            width: 100%;
        }
        #rowHeadder{
            width: 100%;
        }
    }

    @media only screen and (max-width: 360px) {
        /* For mobile Galaxy s5 */
        .container {
            width: auto;
        }

        [class*="col-"] {
            width: auto;
        }
        #tableOnline{
            width: 100%;
        }
        #leftPanel{
            width: 100%;
        }
        #rightPanel{
            width: 100%;
        }
        #tableOnline{
            width: 100%;
        }
        #rowHeadder{
            width: 100%;
        }
    }

    @media only screen and (max-width: 412px) {
        /* For mobile nexus 5x and 6p */
        .container {
            width: auto;
        }

        [class*="col-"] {
            width: auto;
        }
        #tableOnline{
            width: 100%;
        }
        #leftPanel{
            margin-top: -10%;
            width: 100%;
        }
        #rightPanel{
            width: 100%;
        }
        #tableOnline{
            width: 100%;
        }
        #rowHeadder{
            width: 100%;
        }
    }

    @media only screen and (max-width: 768px) {
        /* For IPad */
        .container {
            width: auto;
            padding: 0;
        }

        [class*="col-"] {
            width: auto;
        }
    }

    @media only screen and (max-width: 800px) {
        /* For mobile phones: */
        .container {
            width: auto;
            padding: 0;
        }

        [class*="col-"] {
            width: auto;
        }
    }

    @media only screen and (max-width: 1024px) {
        /* For IPad Pro */
        .container {
            width: 100%;
            margin-top: 0%;
            position: absolute;
        }
        [class*="col-"] {
            width: auto;
        }
        #tableOnline{
            width: 100%;
        }
        #leftPanel{
            margin-top: -10%;
            width: 100%;
        }
        #rightPanel{
            width: 100%;
        }
        #tableOnline{
            width: 100%;
        }
        #rowHeadder{
            width: 100%;
        }
        #rowBG{
            margin-top: 5%;
        }
    }
    @media only screen and (max-width: 1024px) and(max-height: 1366){
        /* For IPad Pro */
        .container {
            width: auto;
            margin-top: 0%;
        }
        [class*="col-"] {
            width: auto;
        }
    }
    @media only screen and (max-width: 1920px) and(max-height: 1080){
        /* For IPad Pro */
        .container {
            width: auto;
        }
        [class*="col-"] {
            width: auto;
        }
    }

    /* end Device Phone And Desktop*/
    .headersys {
        margin-top: -5%;
        text-align: center;
        /*border-bottom: 1px solid #ccc;*/
    }

    .ft-coc {
        width: 50%;
        margin-top: -3%;
    }

    .bullhorn {
        position: absolute;
        margin-top: -2%;
    }

    .pp {
        font-size: 20pt;
        margin-top: 1%;
    }

    .ft-cos-white {
        margin-left: 0%;
        width: 20%;
    }

    .msg-sn {
        text-align: right;
        padding: 1px;
    }
    .msg-reply{
        display: inline-block;
        border: 2px solid #a1a1a1;
        padding: 10px 40px;
        background: #dddddd;
        border-radius: 25px;
    }
    #reader{
        display: none;
        margin-top: -10px;
        color: #a1a1a1;
    }

    #hisAll{
        text-align: right;
        font-size: 16pt;
        color: #979a9e;
    }
    #hisAll-group{
        text-align: right;
        font-size: 16pt;
        color: #979a9e;
    }
    .badge{
        background-color: red;
    }
    #img01{
        width: 550px;
        height: 450px;
        position: absolute;
        margin-left: 30%;
    }
</style>
<body>
<% if(user.local.st != false){%>
<div class="container">
    <div class="row" id="rowHeadder">
        <div class="col-xs-12 col-md-12 col-lg-12 col-sm-12">
            <div class="col-xs-6 col-sm-6 col-md-2 col-lg-2">
                <div class="row">
                    <div class="w3-center">
                        <img src="/uploads/<%= user.local.picture %>" alt="picture" id="picProfile" class="img-circle w3-hover-opacity"  style="cursor:pointer"
                        onclick="onClick(this)"/>
                    </div>
                    <br><br>
                    <div class="w3-animate-bottom" id="text-profile">
                        <input type="hidden" id="user_id" value="<%= user._id %>">
                        <div class="col-xs-12 col-md-12 col-lg-12 col-sm-12">
                            <table class="w3-table">
                                <tr>
                                    <td class="text-right" id="text-icons">
                                        <i class="fa fa-user w3-xlarge" aria-hidden="true"> : </i>
                                        <a href="/profileUpdate"><%= user.local.fname %></a>
                                    </td>
                                </tr>
                                <tr class="link-logout">
                                    <td class="text-left" id="text-icons">
                                        <i class="fa fa-sign-out w3-xlarge" aria-hidden="true">: </i>
                                        <a href="/logout">Log-out</a>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row headersys">
                <h1>
                    <div>
                        <img src="/image/cos-bg.png" alt="font-cos-white" class="ft-cos-white">
                    </div>
                    <div>
                        <img src="/image/font-cos.png" alt="font-cos" class="ft-coc">
                        <i class="fa fa-bullhorn bullhorn" aria-hidden="true"></i>
                    </div>
                </h1>
                <p class="pp" id="text-header">ระบบสื่อสารภายในองค์กร</p>
            </div>
        </div>
    </div>
        <hr style="margin-top: -2%;">
    <div class="row" id="rowBG">
        <div class="col-xs-12 col-md-12 col-lg-12 col-sm-12">
                <!-- Chat Group -->
                <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2" id="leftPanel" >
                    <h2 class="page-header" id="text-group">
                            <div class="w3-dropdown-hover">
                                <a href="#" onclick="document.getElementById('model-group').style.display='block'" title="Add Group" alt="Add Group" class="w3-dropdown-content w3-border">
                                    <font color="white">Add Group</font>
                                </a>
                                <a href="#">
                                    <font color="white">Group +</font>
                                </a>
                            </div>
                    </h2>
                    <div id="scollbartableGroup">
                    <table id="tableGroup" class="w3-table table-hover">
                        <% for(g in userGroup){ %>
                                <%if(userGroup[g].del_st != true){%>
                            <tr>
                                <td>
                                       <% for(item in group){%>
                                        <% if(group[item]._id.toString() == userGroup[g].g_id){%>
                                        <% if(userGroup[g].user_id.toString() == user._id.toString()){%>
                                          <a href="#" class="w3-left"
                                          onclick="getModelGroup('<%=userGroup[g]._id%>','<%=group[item].g_name%>','<%=group[item]._id%>');getMsgGroup('<%=group[item]._id%>','<%=group[item].g_name%>','<%=userGroup[g]._id%>');">
                                          <%=group[item].g_name%>
                                          </a>
                                              <%}}%>
                                       <%}%>
                                </td>
                                <td>
                                    <a onclick="delGroup('<%=userGroup[g]._id%>');">
                                            <i class="fa fa-trash-o fa-lg" aria-hidden="true" title="ออกจากกลุ่มนี้" id="delGropup"></i>
                                    </a>
                                </td>
                            </tr>
                        <% } }%>
                    </table>
                    </div> <!-- end scollbartableGroup -->
                </div>
                <!-- End Chat group -->
                <!-- detail file upload user -->
            <div class="col-xs-8 col-md-8 col-sm-8 col-lg-8" id="middlePanel">
                <h1 class="page-header" id="text-file">Files Upload</h1>
                <table style="text-align: center;" id="tableFile" class="table table-striped table-hover">
                    <thead>
                    <th style="text-align: center;">File Name</th>
                    <th style="text-align: center;">From</th>
                    <th style="text-align: center;">Date Time</th>
                    </thead>
                    <tbody>
                    <tr>
                        <td><a>core5</a></td>
                        <td>noom</td>
                        <td>30-02-2017 15:11</td>
                    </tr>
                    <tr>
                        <td><a>noom</a></td>
                        <td>noom</td>
                        <td>30-02-2017 10:11</td>
                    </tr>
                    <tr>
                        <td><a>Siriwut</a></td>
                        <td>kk</td>
                        <td>30-02-2017 15:11</td>
                    </tr>
                    <tr>
                        <td><a>Jeremy</a></td>
                        <td>kk</td>
                        <td>30-02-2017 14:11</td>
                    </tr>
                    <tr>
                        <td><a>1Jeremy</a></td>
                        <td>kk</td>
                        <td>30-02-2017 13:11</td>
                    </tr>
                    <tr>
                        <td><a>2Jeremy</a></td>
                        <td>kk</td>
                        <td>30-02-2017 15:11</td>
                    </tr>
                    </tbody>
                </table>
            </div>
                <!-- detail file upload user -->
                     <!-- status online -->
                <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2" id="rightPanel" >
                    <div class="row">
                        <h2 class="page-header" id="text-online">Online</h2>
                            <div id="scollbartableOnline">
                            <table id="tableOnline" class="w3-table table-hover">
                                <% for (item in userAll) { if(userAll[item].local.st==true){ %>
                                    <%if(userAll[item]._id.toString() != user._id.toString()){%>
                                    <tr onclick="getModel('<%= userAll[item].local.fname %>','<%= userAll[item]._id %>');getMsg('<%= userAll[item]._id %>')">
                                        <td class="text-left" style="width: 50%;">
                                            <img src="/imageonline" alt="" class="icon-online" width="20" height="auto"> &nbsp;
                                            <% if(userAll[item].local.picture != null){ %>
                                            <img src="/uploads/<%= userAll[item].local.picture %>" class='img-circle'
                                                 id="userOnlineIMG"/>
                                            <% }else{ %>
                                            <img src="/pic-default" id="userOnlineIMG"/>
                                            <% } %>
                                        </td>
                                        <td>
                                            <a href="#" class="w3-left"">
                                                <%= userAll[item].local.fname %>
                                            </a>
                                        </td>
                                        <td>
                                            <%
                                                count=0;
                                                for(i in log){
                                                   if(userAll[item]._id.toString() == log[i].user_sent.toString()){
                                                           count++;
                                                  }
                                              }%>
                                              <%if(count != 0){%>
                                            <span class="badge" style="display:block;">
                                                    <%=count; %>
                                            </span>
                                             <%}else{%>
                                                <style type="text/css">
                                                    .badge{
                                                        display:none;
                                                    }
                                                </style>
                                             <%}%>
                                        </td>
                                    </tr>
                                <% } } } %>
                            </table>
                            </div> <!-- end scollbartableOnline -->
                                <!-- end status online -->
                            <!-- status offline -->
                        <div id="rightPanel">
                            <h2 class="page-header" id="text-offline">Offline</h2>
                                <div id="scollbartableOffline">
                                <table id="tableOffline" class="w3-table table-hover">
                                    <% for (item in userAll) { if(userAll[item].local.st==false){%>
                                        <%if(userAll[item]._id.toString() != user._id.toString()){%>
                                        <tr onclick="getModel('<%= userAll[item].local.fname %>','<%= userAll[item]._id %>');getMsg('<%= userAll[item]._id %>')" />
                                            <td class="text-left" style="width: 50%;">
                                                  <img src="/imageoffline" alt="" class="icon-online" width="20" height="auto"> &nbsp;
                                            <% if(userAll[item].local.picture != null){%>
                                                  <img src="/uploads/<%= userAll[item].local.picture %>" class='img-circle' id="userOnlineIMG"/>
                                            <%}else{%>
                                                  <img src="/pic-default" id="userOnlineIMG"/>
                                            <%}%>
                                            </td>
                                            <td>
                                                <a href="#" class="w3-left">
                                                    <font color="#BEBEBE"><%= userAll[item].local.fname %></font>
                                                </a>
                                            </td>
                                            <td>
                                                 <%
                                                count=0;
                                                for(i in log){
                                                   if(userAll[item]._id.toString() == log[i].user_sent.toString()){
                                                           count++;
                                                }
                                              }%>
                                              <%if(count != 0){%>
                                            <span class="badge" style="display:block;">
                                                    <%=count; %>
                                            </span>
                                             <%}else{%>
                                                <style type="text/css">
                                                    .badge{
                                                        display:none;
                                                    }
                                                </style>
                                             <%}%>
                                            </td>
                                        </tr>
                                    <% } } }%>
                                </table>
                                </div> <!-- end scollbartableOffline -->
                        </div> <!-- end status offline rightPanel -->
                    </div> <!-- col status row -->
                </div> <!-- end col rightPanel -->
        </div><!-- end col table -->
    </div><!-- end status form table  -->
    <!--model chat-->
    <div class="w3-container">
        <div id="id01" class="w3-modal">
            <div class="w3-modal-content w3-animate-zoom w3-card-8">
                <header class="w3-container w3-Lightgray">
                    <span onclick="closeModel();" class="w3-closebtn">&times;</span>
                        <h2 id="model-header"></h2>
                        <div id="hisAll" >History</div>
                        <input type="text" id="counter" style="display: none;" value="10">
                        <div id="reader"></div>
                </header>
                <div class="w3-container">
                    <div id="chat-user" style="display: block;">
                        <form id="frmMsg" >
                            <div id="messages"></div>
                                <ul class="menubar-chat">
                                    <li>
                                        <i class="fa fa-paperclip" aria-hidden="true" onclick="dragModelUser();"></i>
                                    </li>
                                    <li>
                                        <i class="fa fa-picture-o" aria-hidden="true"></i>
                                    </li>
                                    <li>
                                        <i class="fa fa-user-plus" aria-hidden="true"> <input type="file" name="pic" id="fileInput" accept=".jpg,.png,.jpeg" ></i>
                                    </li>
                                </ul>
                            <input type="text" id="m" autocomplete="off" placeholder="กรุณาเขียนข้อความ.."
                                   required maxlength="100" class="w3-border"s/>
                            <input type="hidden" id="userRe">
                            <button type="submit">
                                <img class="logo" src="/public/image/">
                            </button>
                        </form>
                    </div>
                    <div id="drag-drop-user" style="display: none;">
                        <form id="uploadwidget" method="post" action="/drangFiles" class="dropzone" enctype="multipart/form-data">
                            <div class="fallback">
                            <input name="file" type="file"/>
                            </div>
                        </form>
                    </div>
                </div>
                <div id="output">
                    <ul></ul>
                </div>
                <footer class="w3-container w3-Lightgray" style="margin-top: 1%">
                    <p class="w3-center">Modal Footer Yeah..!!!!</p>
                </footer>
            </div> <!-- end w3-modal-content -->
        </div> <!-- end w3-model -->
    </div> <!-- end chat user -->
    <!--chat group model -->
    <div id="model-group" class="w3-modal">
            <form action="/addGroup" method="post">
            <div class="w3-modal-content">
                  <header class="w3-container">
                    <span onclick="closeModelGroup();" class="w3-closebtn">&times;</span>
                        <h2>Add Group</h2>
                  </header>
                <div class="w3-container" id="groupName">
                    <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
                        <div id="create-group">
                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
                                    <label>Create Name Group</label>
                                    <input type="text" name="group_n" class="w3-border" id="text-createGroup">
                                </div>
                            </div><!-- div row -->
                        </div>
                         <footer class="w3-container">
                                 <div class="text-right" style="margin-top: 2%; margin-bottom: 2%;">
                                     <button type="button" id="BtnAddGroup" class="w3-btn w3-amber" onclick="getUser();">+ Create</button>
                                </div>
                         </footer>
                    </div><!-- div col -->
                </div> <!-- End groupName -->
                <div class="w3-container w3-animate-zoom" id="list-user" style="display: none;">
                    <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
                            <!-- div row model group -->
                        <div class="row">
                            <h3>List User</h3>
                                <!-- Create Name Group Model -->
                            <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
                                <div class="col-lg-6 col-md-6 col-xs-6 col-sm-6">
                                        <!-- table online -->
                                        <h2 id="font-online">
                                            <img src="/imageonline" alt="" class="icon-online" width="20" height="auto">Online
                                        </h2>
                                        <hr>
                                        <div id="scrollbar-online">
                                        <table width="100%" class="w3-table table-hover" id="tableOffline">
                                             <% for (item in userAll) { if(userAll[item].local.st==true){ %>
                                             <%if(userAll[item]._id.toString() != user._id.toString()){%>
                                             <tr>
                                                <td>
                                                    <div style="margin-top: 5%;">
                                                        <input type="checkbox" name="user_id[]" style="margin-left: -35%;margin-right:-40%;" value="<%= userAll[item]._id %>">
                                                         <img src="/uploads/<%= userAll[item].local.picture %>" width="25px" height="25px" class="img-circle" id="userOnlineIMG">
                                                          <%= userAll[item].local.fname %>
                                                    </div>
                                                </td>
                                             </tr>
                                            <%} } }%>
                                        </table> <!-- end table online -->
                                        </div> <!-- End scrollbar-online -->
                                </div>  <!-- end div table online -->
                                    <!-- div table offline -->
                                <div class="col-lg-6 col-md-6 col-xs-6 col-sm-6" id="table-offline">
                                        <!-- table offline -->
                                        <h2 id="font-online">
                                            <img src="/imageoffline" alt="" class="icon-online" width="20" height="auto"> Offline
                                        </h2>
                                        <hr>
                                    <div id="scrollbar-offline">
                                    <table width="100%" class="w3-table table-hover" id="tableOffline">
                                         <% for (item in userAll) { if(userAll[item].local.st==false){ %>
                                         <%if(userAll[item]._id.toString() != user._id.toString()){%>
                                        <tr>
                                            <td>
                                                <div style="margin-top: 5%;">
                                                    <input type="checkbox" name="user_id[]" style="margin-left: -35%;margin-right:-40%; " value="<%= userAll[item]._id %>">
                                                     <img src="/uploads/<%= userAll[item].local.picture %>" width="25px" height="25px" class="img-circle" id="userOnlineIMG">
                                                      <%= userAll[item].local.fname %>
                                                </div>
                                            </td>
                                         </tr>
                                        <%} } }%>
                                    </table> <!-- End table offline -->
                                        <input type="hidden" name="user_id[]" style="margin-left: -35%;margin-right:-40%; " value="<%= user._id %>">
                                </div> <!-- end div table offline -->
                                </div> <!-- end scrollbar-offline -->
                                <footer class="w3-container">
                                    <div class="text-right"
                                         style="margin-top: 2%; margin-bottom: 2%;">
                                        <button type="submit" class="w3-btn w3-green" id="startGroup">Start</button>
                                    </div>
                                </footer>
                            </div> <!-- End Create Name Group Model -->
                        </div> <!-- div row model group -->
                    </div><!-- end div col chat group model -->
                </div> <!-- end model chat user-group -->
            </div> <!-- end w3-modal-content -->
        </form> <!-- end form chat group -->
    </div> <!-- end div model group -->

    <!--model chat Group-->
    <div class="w3-container">
        <div id="model-chat-group" class="w3-modal">
            <div class="w3-modal-content w3-animate-zoom w3-card-8">
                <header class="w3-container w3-Lightgray">
                    <span onclick="closeModelGroup();" class="w3-closebtn">&times;</span>
                    <h2 id="model-group-header"></h2>
                    <div id="hisAll-group">History</div>
                    <input type="hidden" id="counter-group" style="display: none;" value="10">
                </header>
                <div class="w3-container">
                    <div style="display: block;" id="chat-group">
                        <form id="frmMsg-group" >
                            <div id="messages-group">
                                <img src="/pic-default" id="output-img" alt="your image" class="img-de img-circle " width="180" height="180" style="margin-left: 2.0cm "/>
                                    <br><br><br>
                            </div>
                            <div>
                                <ul class="menubar-chat">
                                    <li>
                                        <i class="fa fa-paperclip fa-lg" aria-hidden="true" onclick="dragDropGrorp();"></i>
                                    </li>
                                    <li>
                                        <div class="custom-input-file" title="Select Image">
                                            <label class="a-Button" for="FILE_INPUT">
                                               <i class="fa fa-picture-o fa-lg"></i>
                                            </label>
                                            <input type="file" id="FILE_INPUT">
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
                                <input type="text" id="m-group" autocomplete="off" placeholder="กรุณาเขียนข้อความ.."
                                           required maxlength="100" class="w3-border" />
                                <input type="hidden" id="u_g_ID">
                                <input type="hidden" id="gname">
                                <input type="hidden" id="gid">
                                <button type="submit">
                                        <img class="logo" src="/public/image/">
                                </button>
                            </div>
                            <div id="drag-drop-zone">
                                <form id="uploadwidget" method="post" action="/drangFiles" class="dropzone">
                                    <div class="fallback">
                                        <input name="file" type="file"/>
                                    </div>
                                </form>
                            </div> <!-- end in drag-drop-zone -->
                        </form>
                    </div> <!-- end chat-group -->
                    <div id="drag-drop-zone" style="display: none;">
                        <form id="uploadwidget" method="post" action="/drangFiles" class="dropzone">
                            <div class="fallback">
                                <input name="file" type="file"/>
                            </div>
                        </form>
                    </div> <!-- end in drag-drop-zone -->
                </div>
                <div id="output">
                    <ul></ul>
                </div>
                <footer class="w3-container w3-Lightgray" style="margin-top: 1%">
                    <p class="w3-center">Modal Footer Chat Group</p>
                </footer>
            </div> <!-- end w3-modal-content -->
        </div> <!-- end w3-model -->
    </div><!--End chat group model -->
         <!-- Model Image Profile -->
    <div id="modalimage" class="w3-modal" onclick="this.style.display='none'">
        <span class="w3-closebtn w3-hover-white w3-text-white w3-xxlarge w3-containerw3-display-topright">&times;</span>
            <div class="w3-animate-zoom">
                <img id="img01">
            </div>
    </div><!-- End Model Image Profile -->
</div> <!-- End Container Main -->
<% }else{%>
    <script type="text/javascript">
        window.location.href="/";
    </script>
<% } %>
</body>
</html>

<script src="/js"></script>
<script src="/bootstrap-js"></script>
<script src="/dataTables-js"></script>
<script src="/socketJs"></script>
<script src="/socket.io-file-client"></script> 
<script src="/socket.io"></script> 
<script type="text/javascript">
var socket = io();
var userSent =  $('#user_id').val();
var sortQty = 10;
socket.emit('userReconnect',userSent);
var uploader = new SocketIOFileClient(socket);
uploader.on('start', function(fileInfo) {
    console.log('Start uploading', fileInfo);
});
uploader.on('stream', function(fileInfo) {
    console.log('Streaming... sent ' + fileInfo.sent + ' bytes.');
});
uploader.on('complete', function(fileInfo) {
    console.log('Upload Complete', fileInfo);
                var userRe = $('#userRe').val();
                var room = userSent+""+userRe;
                socket.emit('send-img', { room:room,userSent,userRe});
});
uploader.on('error', function(err) {
    console.log('Error!', err);
});
uploader.on('abort', function(fileInfo) {
    console.log('Aborted: ', fileInfo);
});
        function getUser() {
            document.getElementById('groupName').style.display = 'none';
            document.getElementById('list-user').style.display = 'block';
        }
            function getModel(userSH,id){
                document.getElementById('id01').style.display = 'block';
                document.getElementById('model-header').innerHTML = userSH;
               var iduser = document.getElementById('userRe').value = id;

               socket.emit('clearLog',userSent,id);

               socket.emit('subscribe',userSent,id);
            }
            function closeModel(){
                $("#output ul").empty();
                $("#messages").empty();
                document.getElementById('id01').style.display = 'none';
                var userRe = $('#userRe').val();
                socket.emit('unsubscribe',userSent,userRe);
                document.getElementById('model-chat-group').style.display = 'none';
                // location.reload();
            }
            function dragDropGrorp(){
                document.getElementById('drag-drop-zone').style.display = 'block';
                document.getElementById('chat-group').style.display = 'none';
            }
            function dragModelUser(){
                document.getElementById('chat-user').style.display = 'none';
                document.getElementById('drag-drop-user').style.display = 'block';
            }
        function getModel(userSH,id){
            document.getElementById('id01').style.display = 'block';
            document.getElementById('model-header').innerHTML = userSH;
            var iduser = document.getElementById('userRe').value = id
           socket.emit('clearLog',userSent,id);
           socket.emit('subscribe',userSent,id);
        }
        function closeModel(){
            $("#output ul").empty();
            $("#messages").empty();
            document.getElementById('id01').style.display = 'none';
            var userRe = $('#userRe').val();
            socket.emit('unsubscribe',userSent,userRe);
            // location.reload();
       }
       function dragDrop(){
           document.getElementById('drag-drop-zone').style.display = 'block';
           document.getElementById('chat-group').style.display = 'none';
       }

        $("button").click(function () {
            var msg = $("#m").val();
            // var msg-group = $("#m-group").val();
            // $("#messages").animate({scrollTop: $("#messages")[0].scrollHeight}, 100);
        });
    // script socket.io
    $('#fileInput').change(function(e){
            var data = e.originalEvent.target.files[0];
                e.preventDefault();
                var fileEl= document.getElementById('fileInput');
                var uploadIds = uploader.upload(fileEl);
            readThenSendFile(data);
        });

        function readThenSendFile(data){
                $('#fileInput').val('');
                var userRe = $('#userRe').val();
                var room = userSent+""+userRe;
            var reader = new FileReader();
            reader.onload = function(evt){
                var msg ={};
                msg.username = userSent;
                msg.room = room;
                msg.userRe = userRe;
                msg.file = evt.target.result;
                msg.fileName = data.name;
                socket.emit('base64 file', msg);
            };
            reader.readAsDataURL(data);

        }

        socket.on('base64 file',function(dataFile){
                // console.log(dataFile.file);
                if(dataFile.username == userSent){
                     $('#messages').append($("<p class='w3-right-align'><img class='img-rounded w3-right-align'  width='150px' height='150px' src='"+dataFile.file.toString()+"'/></p><br><br>"));
                     $("#messages").animate({scrollTop: $("#messages")[0].scrollHeight}, 100);

                }else{
                     $('#messages').append($("<p align='left' ><img class='img-rounded w3-left-align'  width='150px' height='150px' src='"+dataFile.file.toString()+"'/></p><br>"));
                     $("#messages").animate({scrollTop: $("#messages")[0].scrollHeight}, 100);
                }
             $('#fileInput').val('');
        });
                    $('#frmMsg').submit(function () {
                     var userRe = $('#userRe').val();
                     var msg = $('#m').val();
                        // socket.emit('chat message',userSent,msg,userRe);
                        var room = userSent+""+userRe;
                        socket.emit('send', { room:room, message: msg,userSent,userRe});
                        socket.emit("typing","กำลังพิมพ์......","st1");
                        $('#m').val('');
                        return false;
                    });
                    socket.on('send message01', function (data) {
                         if (data.userSent == userSent) {
                            // user sent
                            $('#messages').append($("<p class='w3-right-align'></p>").text(data.message));
                            $("#messages").animate({scrollTop: $("#messages")[0].scrollHeight}, 100);
                        } else{
                            // user reply
                            $('#messages').append($('<p align="left" class="msg-reply"></p><br>').text(data.message));
                            $("#messages").animate({scrollTop: $("#messages")[0].scrollHeight}, 100);
                        }
                    });
    // End script socket.io
        // dataTable
    $(document).ready(function () {
        $('#tableFile').dataTable();
    });
        // End dataTable
    socket.emit('userID',$('#user_id').val());

    function getMsg(userRe){
        var cnt = 0;
        socket.emit('get message',userSent,userRe,sortQty);
        $("#messages").empty();

        socket.on('msg',function(items,userRe){
            $("#messages").empty();
             for (var i = items.length - 1; i >= 0; i--) {
                    console.log("get msg = "+items[i].message);

                  if(items[i].user_sent == userSent || items[i].user_receive == userRe || items[i].user_sent == userRe || items[i].user_receive == userSent ){

                    if(items[i].user_sent == userSent){
                            if(items[i].message != ""){
                             $('#messages').append($('<p align="right" class="msg-sn"></p><br>').text(items[i].message))
                             $("#messages").animate({scrollTop: $("#messages")[0].scrollHeight}, 100);
                            }else{
                            $('#messages').append($("<p class='w3-right-align'><img class='img-rounded w3-right-align'  width='150px' height='150px' src='/uploads/"+items[i].file_upload+"'/></p><br><br>"));
                            $("#messages").animate({scrollTop: $("#messages")[0].scrollHeight}, 100);
                            }
                    }else{
                        if(items[i].message != ""){
                               $('#messages').append($("<p align='left' class='msg-reply'><img class='img-rounded w3-right-align'  width='150px' height='150px' src='/uploads/"+items[i].file_upload+"'/></p><br>").text(items[i].message));
                               $("#messages").animate({scrollTop: $("#messages")[0].scrollHeight}, 100);
                       }else{
                            $('#messages').append($("<p align='left' ><img class='img-rounded w3-left-align'  width='150px' height='150px' src='/uploads/"+items[i].file_upload+"'/></p><br>"));
                           $("#messages").animate({scrollTop: $("#messages")[0].scrollHeight}, 100);
                      }
                   }
               }
           }
        });
    }
     socket.on('typingShow',function(msg,id,st){

            if(st=="st1"){
                setTimeout(function(){
                    $("#reader").fadeOut(700);
                },1000);
            }else if(st=="st2"){
                 if(userSent == id){
                }else{
                    $("#reader").show();
                    $("#reader").text(msg);
                }
            }
                console.log("MESSAGES : "+id);
        });

     //get History
    $(document).ready(function () {
        var $button = $('#hisAll');
        var $counter = $('#counter');

        $('#hisAll').click(function(){
            console.log("hisAll");
          $counter.val( parseInt($counter.val()) + 10 ); // `parseInt` converts the `value` from a string to a number
          var qty = $counter.val();
          var userRe = $('#userRe').val();
          socket.emit('get message',userSent,userRe,qty);
        $("#messages").empty();

        socket.on('msg',function(items,userRe){
            $("#messages").empty();
             for (var i = items.length - 1; i >= 0; i--) {
                    console.log("get msg = "+items[i].message);

                  if(items[i].user_sent == userSent || items[i].user_receive == userRe || items[i].user_sent == userRe || items[i].user_receive == userSent ){

                    if(items[i].user_sent == userSent){
                        if(items[i].message != "" ){
                            $('#messages').append($('<p align="right" class="msg-sn"></p><br>').text(items[i].message))
                        }else{
                            $('#messages').append($("<p align='right' class='msg-sn'><img class='img-rounded w3-right-align'  width='150px' height='150px' src='/uploads/"+items[i].file_upload+"'/></p><br>"))
                        }
                    }else{
                         if(items[i].message != "" ){
                            $('#messages').append($('<p align="left" class="msg-reply"></p><br>').text(items[i].message));
                        }else{
                            $('#messages').append($("<p align='left' class='msg-reply'><img class='img-rounded w3-left-align'  width='150px' height='150px' src='/uploads/"+items[i].file_upload+"'/></p><br>"));
                        }
                   }
               }
           }
        });

        });
});
     $(document).ready(function(){
        $("#m").keypress(function(event){
        var keycode = (event.keyCode ? event.keyCode : event.which);
            if($(this).val() != ''){
              socket.emit("typing","กำลังพิมพ์......","st2");
            }
            if(keycode == '13'){
                socket.emit("typing","กำลังพิมพ์......","st1");
            }
        });
     });
////////////////////////////////////////////////////////////group//////////////////////////////////////////////////////////////////////
        function getModelGroup(u_g_id,gname,gid){
          document.getElementById('model-chat-group').style.display = 'block';
          document.getElementById('model-group-header').innerHTML = gname;
          var iduser = document.getElementById('u_g_ID').value = u_g_id;
          var group = document.getElementById('gname').value = gname;
          var gid = document.getElementById('gid').value = gid;
          socket.emit('subscribe-group',gname);
          socket.emit('clearLogGroup',u_g_id);
       }
       function closeModelGroup (){
            $("#output ul").empty();
            $("#messages-group").empty();
            document.getElementById('model-chat-group').style.display = 'none';
            var gname = $('#gname').val();
            socket.emit('unsubscribe-group',gname);
            document.getElementById('model-chat-group').style.display = 'none';
            location.reload();
       }
       function delGroup(u_g_id){
            if (confirm("คุณต้องการออกจากกลุ่มหรือไม่!!") == true) {
                socket.emit('del group',u_g_id);
                // location.reload();
            } else {
            }
       }
     // script socket.io Group
                    $('#frmMsg-group').submit(function () {
                          var u_g_ID = $('#u_g_ID').val();
                          var gname = $('#gname').val();
                          var msg = $('#m-group').val();
                          var img = $('#sendImg')
                          console.log("form group"+msg);
                          var room = gname;
                          socket.emit('send-group', { room:room, message: msg,userGID:u_g_ID});
                    //     socket.emit("typing","กำลังพิมพ์......","st1");
                           $('#m-group').val('');
                         return false;
                    });
                    socket.on('send message group', function (data) {
                            var u_g_ID = $('#u_g_ID').val();
                            if(data.userGID == u_g_ID){
                                $('#messages-group').append($('<p align="right" class="msg-sn"></p><br>').text(data.message))
                                $("#messages-group").animate({scrollTop: $("#messages-group")[0].scrollHeight}, 100);
                            }else{
                                $('#messages-group').append($('<p align="left" class="msg-reply"></p><br>').text(data.message));
                                $("#messages-group").animate({scrollTop: $("#messages-group")[0].scrollHeight}, 100);
                            }
                    });


                     function getMsgGroup(gid,gname,u_g_ID){
                         var cnt = 0;
                        socket.emit('get message group',gid,gname,sortQty);
                        $("#messages-group").empty();
                        socket.on('msg group',function(items,userRe){
                            $("#messages-group").empty();
                             for (var i = items.length - 1; i >= 0; i--) {
                                        if(items[i].u_g_id == u_g_ID){
                                            $('#messages-group').append($('<p align="right" class="msg-sn"></p><br>').text(items[i].g_message))
                                            $("#messages-group").animate({scrollTop: $("#messages-group")[0].scrollHeight}, 100);
                                        }else{
                                            $('#messages-group').append($('<p align="left" class="msg-reply"></p><br>').text(items[i].g_message));
                                            $("#messages-group").animate({scrollTop: $("#messages-group")[0].scrollHeight}, 100);
                                       }
                           }
                        });
                    }


    ////history group

    $(document).ready(function () {
        var $button = $('#hisAll-group');
        var $counter = $('#counter-group');

        $('#hisAll-group').click(function(){
          $counter.val( parseInt($counter.val()) + 10 ); // `parseInt` converts the `value` from a string to a number
          var qty = $counter.val();
          var gname = $('#gname').val();
          var gid = $('#gid').val();
          socket.emit('get message group',gid,gname,qty);
          $("#messages-group").empty();

          socket.on('send message group', function (data) {
                            var u_g_ID = $('#u_g_ID').val();
                            if(data.userGID == u_g_ID){
                                $('#messages-group').append($('<p align="right" class="msg-sn"></p><br>').text(data.message))
                                $("#messages-group").animate({scrollTop: $("#messages-group")[0].scrollHeight}, 100);
                            }else{
                                $('#messages-group').append($('<p align="left" class="msg-reply"></p><br>').text(data.message));
                                $("#messages-group").animate({scrollTop: $("#messages-group")[0].scrollHeight}, 100);
                            }
         });

        });
    });
    // End script socket.io Group
    ////////////////////////////////////////////////////////////////////////////////////////////
     // drang-drop zone script
   Dropzone.options.uploadwidget = {
    paramName: 'file',
    maxFilesize: 5, // MB
    maxFiles: 5,
    headers: {
        'x-csrf-token': $('meta[name="csrf-token"]').attr('content')
    },
    acceptedFiles: '.jpg,.png,.docx,.zip,.xlsx',
      init: function() {
        this.on('complete', function( file, resp ){
            // this.removeFile(file);
            // console.log( file );
            // console.log( resp );
        });
        this.on("addedfile", function(file) {
            /* Maybe display some more file information on your page */
        });
        this.on('thumbnail', function(file) {
            if ( file.width < 1024 || file.height < 768 ) {
                file.acceptDimensions();
            }
            else {
                file.rejectDimensions();
            }
          });
        },
        accept: function(file, done) {
          file.acceptDimensions = done;
          file.rejectDimensions = function() {
            done('The image must be at least 1024 by 768 pixels in size');
          };
        },
    };
    $('#model-chat-group').on('hidden.bs.model', function(){
        $('#model-body').find('input').val('');
    });
    $('#groupName').on('hidden.bs.model', function(){
        $('#create-group').find('input').val('');
    });
    function onClick(element) {
      document.getElementById("img01").src = element.src;
      document.getElementById("modalimage").style.display = "block";
    }
        // select image
    var loadFile = function(event) {
    var yourImg = document.getElementById('output-img');
        if(yourImg && yourImg.style) {
            yourImg.style.height = '180px';
            yourImg.style.width = '180px';
            yourImg.src = URL.createObjectURL(event.target.files[0]);
        }
      };
</script>